site_name: Aleph.im Documentation
theme:
  name: material
  logo: assets/images/square-logo-color.png
  palette:

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.path
markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tabbed:
      alternate_style: true

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - assets/stylesheets/aleph-branding.css

repo_url: https://github.com/aleph-im/aleph-docs
edit_uri: edit/main/docs/

nav:
  - Overview: index.md
  - 'Protocol':
      - 'Chains': protocol/chains.md
      - 'Messages': protocol/messages.md
      - 'Permissions': protocol/permissions.md
      - 'Object Types':
          - 'Aggregates': protocol/object-types/aggregates.md
          - 'Posts': protocol/object-types/posts.md
          - 'Programs': protocol/object-types/programs.md
          - 'Storage': protocol/object-types/storage.md
  - Nodes:
      - 'Compute':
          - 'Index': nodes/compute/index.md
          - 'Installations':
                - 'Configure Caddy': nodes/compute/installation/configure-caddy.md
                - 'Debian 11': nodes/compute/installation/debian-11.md
                - 'Debian 12': nodes/compute/installation/debian-12.md
                - 'Ubuntu 20.04': nodes/compute/installation/ubuntu-20.04.md
                - 'Ubuntu 22.04': nodes/compute/installation/ubuntu-22.04.md
          - 'Troubleshooting': nodes/compute/troubleshooting.md
      - 'Core':
          - 'Index': nodes/core/index.md
          - 'Backups': nodes/core/backups.md
      - 'Reliability':
          - 'Introduction': nodes/reliability/index.md
          - 'Monitoring': nodes/reliability/monitoring.md
          - 'Metrics': nodes/reliability/metrics.md
          - 'Scores': nodes/reliability/scores.md
          - 'Rewards': nodes/reliability/rewards.md
  - 'Tools':
      - 'Aleph Account': tools/aleph-account.md
      - 'Aleph Client':
            - 'Introduction': tools/aleph-client/index.md
            - 'Usage': tools/aleph-client/usage.md
            - 'Documentation': tools/aleph-client/documentation.md
      - 'Aleph Tooling': tools/aleph-tooling.md
      - 'Multichain Indexer':
            - 'Introduction': tools/indexer/index.md
            - 'Generate Solana Indexers from IDL': tools/indexer/indexer-generator.md
            - 'EVM Indexer Guide': tools/indexer/evm-indexer.md
      - 'IPFS Pinning': tools/ipfs-pinning.md
      - 'Web Console':
          - 'Introduction': tools/webconsole/index.md
          - 'Upload': tools/webconsole/upload.md
          - 'Write your code': tools/webconsole/write_your_code.md
          - Languages:
            - 'Python': tools/webconsole/languages/python.md
  - Libraries:
      - 'Typescript SDK':
          - 'Introduction': libraries/typescript-sdk/index.md
          - 'Account': libraries/typescript-sdk/accounts.md
          - 'Aggregates': libraries/typescript-sdk/aggregates.md
          - 'Instances': libraries/typescript-sdk/instances.md
          - 'Posts': libraries/typescript-sdk/posts.md
          - 'Troubleshooting': libraries/typescript-sdk/troubleshooting.md
      - 'Python SDK':
          - 'Introduction': libraries/python-sdk/index.md
          - 'Account': libraries/python-sdk/accounts.md
          - 'Forget': libraries/python-sdk/forget.md
          - 'Errors': libraries/python-sdk/error.md
          - Posts:
                - 'Create': libraries/python-sdk/posts/create.md
                - 'Query': libraries/python-sdk/posts/query.md
          - 'Aggregates':
              - 'Create': libraries/python-sdk/aggregates/create.md
              - 'Query': libraries/python-sdk/aggregates/query.md
              - 'Delegate': libraries/python-sdk/aggregates/delegate.md
  - Computing:
      - 'Index': computing/index.md
      - Custom Domain:
          - 'Add a Custom Domain': computing/custom_domain/setup.md
      - Runtimes:
          - 'Index': computing/runtimes/index.md
          - 'Custom': computing/runtimes/custom.md
          - 'Existing': computing/runtimes/existing.md
      - Volumes:
          - 'Immutable': computing/volumes/immutable.md
          - Persistent: computing/volumes/persistent.md
  - Tutorials:
      - 'Testing microVMs': guides/testing_microvms.md
      - 'Update a program': guides/update_a_program.md
      - Python:
          - 'Getting Started': guides/python/getting_started.md
          - 'Advanced': guides/python/advanced.md
          - 'Dependency volume': guides/python/dependency_volume.md
      - Rust:
          - 'Rust microVMs': guides/rust/rust_microvm.md

plugins:
  - search
  - redirects:
      redirect_maps:
        'protocol/object_types/aggregates.md': 'protocol/object-types/aggregates.md'
        'protocol/object_types/posts.md': 'protocol/object-types/posts.md'
        'protocol/object_types/programs.md': 'protocol/object-types/programs.md'
        'protocol/object_types/storage.md': 'protocol/object-types/storage.md'

        'libraries/Aleph.im-TypeScript-SDK/index.md': 'libraries/typescript-sdk/index.md'
        'libraries/Aleph.im-TypeScript-SDK/accounts.md': 'libraries/typescript-sdk/accounts.md'
        'libraries/Aleph.im-TypeScript-SDK/aggregates.md': 'libraries/typescript-sdk/aggregates.md'
        'libraries/Aleph.im-TypeScript-SDK/instances.md': 'libraries/typescript-sdk/instances.md'
        'libraries/Aleph.im-TypeScript-SDK/posts.md': 'libraries/typescript-sdk/posts.md'
        'libraries/Aleph.im-Python-SDK/index.md': 'libraries/python-sdk/index.md'

        'nodes/compute/installation/configure_caddy.md': 'nodes/compute/installation/configure-caddy.md'


